/* comuns a totes les pàgines */
html 
{
    scroll-behavior: smooth; /* fa que els salts entre enllaços siguis suaus */
}
body
{
    margin: 0; /* elimina espai blanc entre contingut i les vores del viewport (pantalla) */
    font-size: 16px;
    font-family: Tahoma, sans-serif;
}
.Navbar 
{
    display: flex; /* permet posicionar el contingut dels elements fills */
    justify-content: space-between; /* provar amb altres alternatives: center, space-evenly, flex-start, flex-end i veure què passa */
    align-items: center;
    background-color: #222222; /* color de fons */
    padding: 0rem 1.5rem;
}
.Navbar ul
{
    display: flex;
    justify-content: flex-end;
    list-style: none; /* elimina els punts de la llista (provar què passa si es treu) */
    gap: 1rem;
    margin-right: 1rem;
}
.Navbar a 
{
    color: #FFFFFF; /* color de la lletra */
    font-weight: 500;
    text-decoration: none; /* decoració del text. Prova què passa si es treu */
}
.titol
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* es força una alçada */
    /* background-image: url("/assets/img/Imatge4.jpg"); */
    background-image: url(https://picsum.photos/900/200);
    background-size: cover; /* forçar que la imatge de fons cobreixi tot l'espai del seu contenidor */
    margin-block-start: 0px; /* corregeix l'espai entre header i titol */
}
h1
{
    color: #000000;
    font-size: 2.5rem;
    font-weight: 600;
    text-shadow: 0px 0px 4px #FFFFFF;
}
h2
{
    text-align: center;
    font-size: 2rem;
}
section 
{
    padding: 2rem ;
}
section > * 
{
    margin-left: auto;
    margin-right: auto;
    /*max-width: 70vw; /* es permet una amplada màxima del 80% de la mida del viewport o pantalla */
}
footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 2rem;
    background-color: #222;
}



/* Específiques per la pàgina cv.html */
.index ul
{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: auto;
    list-style: none;
    padding-inline-start: 0px; /* corregeix l'espai que hi ha a l'esquerra */
}
.index a
{
    display: flex;
    align-items: center;
    gap: .5rem;
    text-decoration: none;
}
.fons-fosc
{
    background-color: lightgray;
}
.dades div
{
    text-align: center;
}
.idiomes table
{
    margin: auto; /* centrat automàtic */
    border: 3px solid black;
}
.idiomes td
{ 
    border: 1px solid black;
    text-align: center;
    padding: 1rem; /* espai entre les vores i el contingut */
}



/*  Específiques per la pàgina contacte.html */
.parlem form
{
    display: flex;
    flex-direction: column;
    max-width: 40vw;
}
.parlem form input,
.parlem form textarea
{
    margin-bottom: 1rem;
}
.parlem .boto
{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*  Específiques per la pàgina index.html */
.presentacio article
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 99px;
    margin: 0rem 3rem;
}
.projectes ul
{
    display: flex;
    justify-content: center;
    gap: 3rem;
    list-style: none;
    margin: 2rem 0rem;
}
.projectes ul li
{
    display: flex;
    flex-direction: column;
    border: solid 1px;
    border-radius: 20px;
    max-width: 20vw;
    overflow: hidden;   /*Retalla imatge si sobresurt dels limits d'un div*/
}
.projectes ul li p
{
    padding: 1.5rem;
    margin: 0px;
}
.projectes ul li button
{
    background-color: #222222;
    color: #FFFFFF;
    padding: 0.5rem;
    border-radius: 6px;
    margin: 0rem 3rem 1rem 3rem;
}
.experiencia
{
    background-color: #222222;
    color: #FFFFFF;
    padding-left: 0px;
    padding-right: 0px;
}
.experiencia ul
{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 6rem 0rem 2rem 0rem;
    padding-inline-start: 0px;
}
.experiencia ul li
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 348px;
    height: 348px;
    font-size: 3rem;
}
.html
{
    background-image: url("/assets/img/Ellipse1.png");
}
.css
{
    background-image: url("/assets/img/Ellipse2.png");
}
.js
{
    background-image: url("/assets/img/Ellipse3.png");
}

.aficions
{
    height: 600px;
}
.aficions h2
{
    margin: 2rem 0rem 4rem 0rem;
}
.aficions ul
{
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 1rem;
}
.aficions ul li
{
    display: flex;
    background-color: #D9D9D9;
    width: 21rem;
    height: 6rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
}
.aficions ul li p
{
    width: 9.5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 1.5rem;
}
.aficions ul li div
{
    margin-right: 1.5rem;
}